<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_QLDA.Properties.Settings.QLDUANConnectionString"
            connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=QLDUAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>